@page "/"

<PageTitle>Welcome</PageTitle>

<h1>Welcome to my app!</h1>
<p>To use this app, you need to register first on page <NavLink href="passwordless">passwordless registration</NavLink>.<br/>
    Then you can log in with your passkey on <NavLink href="passwordless-login">passwordless login</NavLink> and view your secret on <NavLink href="secret">Show my Secret</NavLink>.
</p>