@page "/secret"
@inject IJSRuntime JSRuntime

<PageTitle>Show me my secret!</PageTitle>
<script src="js/secret.js"></script>

<h3>Here you can see your secret</h3>
<button class="btn btn-primary" @onclick="ShowSecret">Click me</button>

<div id="secret-div" style="visibility: hidden">
    <h3>Your secret:</h3>
    <div id="secret-div-text" class="alert alert-ok"></div>
</div>

@code {
    private async Task ShowSecret()
    {
        await JSRuntime.InvokeVoidAsync("getSecret");
    }
}

